<section class="hire-me" id="contact-me">
  <div class="container">
    <div class="heading text-left">
      <span class="pre-title">Have a project in mind?</span>
      <h3 class="text-off-white">Contact Me</h3>
    </div>

    <div class="row text-left">
      <div class="col-md-8 contact-form">
        <form id="hidden_form" action="#" method="POST">
          <div class="row field form-group">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="name" class="text-off-white">Name</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label for="email" class="text-off-white">Email</label>
              <input type="text" name="_replyto" id="email" class="form-control">
            </div>
          </div>

          <div class="field form-group">
            <label for="message" class="text-off-white">Message</label>
            <textarea name="message" id="message" rows="6" class="form-control"></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="special btn btn-primary"></li>
            <li><input type="reset" value="Clear" class="btn btn-secondary"></li>
          </ul>
        </form>
      </div>
      <div class="col-md-4">
        <div class="contact-details">
          <div class="contact-method">
            <h5 class="pre-title text-off-white">Email</h5>
            <a id="emailAddress" href="#" class="text-off-white txt txt-on-black"></a>
          </div>
          <div class="contact-method">
            <h5 class="pre-title text-off-white">Phone</h5>
            <span id="phone" class="text-off-white txt txt-on-black"></span>
          </div>
          <div class="contact-method">
            <h5 class="pre-title text-off-white">Address</h5>
            <span id="address" class="text-off-white txt txt-on-black">
                </span>
          </div>
          <div class="contact-method">
            <span class="icon alt fa-home"></span>
            <h5 class="pre-title text-off-white">Social</h5>
            <ul class="list-unstyled">
              <li class=""><a href="https://github.com/Jrschellenberg" class="text-off-white txt-on-black txt"
                              target="_blank">Github Repo</a></li>
              <li class=""><a href="https://www.linkedin.com/in/justin-schellenberg-667451160/"
                              class="text-off-white txt-on-black txt" target="_blank">Follow on Linkedin</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
