<head>
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{{ "/stylesheets/main.bundle.css" | relative_url }}" />


	<!-- Scripts -->
	<script src="{{ "/assets/js/jquery.min.js" | relative_url }}" defer></script>
	<script src="{{ "/assets/js/jquery.scrolly.min.js" | relative_url }}" defer></script>
	<script src="{{ "/assets/js/jquery.scrollex.min.js" | relative_url }}" defer></script>
	<script src="{{ "/assets/js/skel.min.js" | relative_url }}" defer></script>
	<script src="{{ "/assets/js/util.js" | relative_url }}" defer></script>
	<script src="{{ "/assets/js/main.js" | relative_url }}" defer></script>
	<script src="{{ "/js/main.bundle.js" | relative_url }}" defer></script>


</head>
